Repository floating/frame: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint --quiet --fix

.lintstagedrc.json:

{
  "**/*.{yml,json,md,html,ts,js}": "prettier --check",
  "**/*.{ts,tsx,js,jsx}": "eslint --quiet --fix"
}

fix compilation error
  main/store/migrate/migrations/35/schema.ts
Due: prettier --check, eslint --quiet --fix

Update README.md
  README.md
Due: prettier --check

tweaks
  README.md
Due: prettier --check

fix state parsing
  main/store/migrate/migrations/35/index.ts
  main/store/migrate/migrations/35/schema.ts
  main/store/state/types/main.ts
Due: prettier --check, eslint --quiet --fix

explicitly add all keys requiring mapping
  resources/app/index.js
Due: prettier --check, eslint --quiet --fix

disable during config, enable after
  app/dash/Settings/index.js
Due: prettier --check, eslint --quiet --fix

fix import
  test/main/windows/dialog/index.test.js
Due: prettier --check, eslint --quiet --fix

fix onboard slide
  app/onboard/App/Slides/Access/index.jsx
Due: eslint --quiet --fix

update meta key display
  resources/app/index.js
Due: prettier --check, eslint --quiet --fix

add event log
  resources/app/index.js
Due: prettier --check, eslint --quiet --fix

spawn using shell in Windows
  scripts/run-dev.mjs
Due: none

first pass at disabled keys
  app/dash/Settings/index.js
Due: prettier --check, eslint --quiet --fix

linux update
  app/dash/Settings/index.js
  resources/app/index.js
Due: prettier --check, eslint --quiet --fix

update lock
  package-lock.json
Due: prettier --check

windows update
  resources/app/index.js
Due: prettier --check, eslint --quiet --fix

linux update
  resources/app/index.js
Due: prettier --check, eslint --quiet --fix

fix dev script - spawn using shell in Windows (#1492)
  scripts/run-dev.mjs
Due: none

downgrade @ethereumjs/util
  package-lock.json
  package.json
Due: prettier --check

fix prod build (#1493)
  package-lock.json
  package.json
Due: prettier --check

more-linux-updates
  app/dash/Settings/index.js
  resources/app/index.js
Due: prettier --check, eslint --quiet --fix

remove logs
  app/dash/Settings/index.js
  resources/app/index.js
Due: prettier --check, eslint --quiet --fix

address UX
  app/dash/Main/style/index.styl
  app/dash/Settings/index.js
Due: prettier --check, eslint --quiet --fix

bump version to 0.6.3 (#1477)
  package-lock.json
Due: prettier --check

disable explorer btn on tx when no explorer (#1475)
  app/tray/Account/Requests/style/index.styl
  app/tray/Footer/RequestCommand/index.js
Due: prettier --check, eslint --quiet --fix

Linting (#1337)
  .babelrc.json
  .eslintrc.json
  eslint.config.mjs
  package-lock.json
  package.json
  tsconfig.build.json
  tsconfig.json
Due: prettier --check

first pass
  app/dash/Settings/index.js
  main/store/actions/index.js
  main/store/migrate/migrations/legacy/index.ts
  main/windows/index.ts
  main/windows/systemTray.ts
  package-lock.json
  package.json
  resources/app/index.js
Due: prettier --check, eslint --quiet --fix

remove debounce & key exemptions
  app/dash/Settings/index.js
Due: prettier --check, eslint --quiet --fix

update deps (#1480)
  .github/workflows/build.yml
  .github/workflows/canary.yml
  .github/workflows/compile-and-test.yml
  README.md
  package-lock.json
  package.json
Due: prettier --check

fix broken images in balances & inventory (#1484)
  app/tray/Account/Balances/style/index.styl
  app/tray/Account/Inventory/InventoryCollection/index.js
  app/tray/Account/Inventory/style/index.styl
  resources/Components/RingIcon/index.js
Due: prettier --check, eslint --quiet --fix
