Repository floating/frame: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint --quiet --fix

initial notify window
  app/dash/Main/index.js
  app/notify/App/Slides/MoveToPylon/index.jsx
  app/notify/App/Slides/Proceed/index.jsx
  app/notify/App/Slides/index.jsx
  app/notify/App/index.jsx
  app/notify/App/index.styl
  app/notify/App/styled/index.jsx
  app/notify/index.dev.html
  app/notify/index.html
  app/notify/index.js
  app/tray/Notify/index.js
  main/store/actions/index.js
  main/windows/index.ts
  package.json
  scripts/bundler.mjs
Due: prettier --check, eslint --quiet --fix

move to resources
  app/dash/Settings/index.js
  resources/Components/KeyboardShortcutConfigurator/index.js
Due: prettier --check, eslint --quiet --fix

remove shortcut state
  app/dash/Settings/index.js
Due: prettier --check, eslint --quiet --fix

don't pass platform
  resources/Components/KeyboardShortcutConfigurator/index.js
  resources/app/index.js
Due: prettier --check, eslint --quiet --fix

update copy and fix scrollbars
  app/notify/App/Notification/MoveToPylon/index.jsx
  app/notify/App/index.styl
  app/notify/App/styled/index.jsx
  main/windows/index.ts
Due: prettier --check, eslint --quiet --fix

tweak
  app/notify/App/Notification/MoveToPylon/index.jsx
Due: eslint --quiet --fix

add migration tests
  test/main/store/migrate/migrations/37.test.js
Due: prettier --check, eslint --quiet --fix

component testing pt 1
  resources/Components/KeyboardShortcutConfigurator/index.js
  test/resources/Components/KeyboardShortcutConfigurator/index.test.js
Due: prettier --check, eslint --quiet --fix

component testing pt 2
  test/resources/Components/KeyboardShortcutConfigurator/index.test.js
Due: prettier --check, eslint --quiet --fix

add configuring, update tests
  main/store/actions/index.js
  main/store/migrate/migrations/37/index.ts
  main/store/migrate/migrations/37/schema.ts
  main/store/state/index.ts
  main/windows/index.ts
  resources/Components/KeyboardShortcutConfigurator/index.js
  test/main/store/migrate/migrations/37.test.js
  test/resources/Components/KeyboardShortcutConfigurator/index.test.js
Due: prettier --check, eslint --quiet --fix

fix hotkeys
  package-lock.json
  package.json
Due: prettier --check

remove buffer
  package-lock.json
  package.json
Due: prettier --check

remove local state
  resources/Components/KeyboardShortcutConfigurator/index.js
  test/resources/Components/KeyboardShortcutConfigurator/index.test.js
Due: prettier --check, eslint --quiet --fix

move unbind to top level
  resources/Components/KeyboardShortcutConfigurator/index.js
Due: prettier --check, eslint --quiet --fix

unbind when removing effect
  resources/Components/KeyboardShortcutConfigurator/index.js
Due: prettier --check, eslint --quiet --fix

use TS
  main/store/state/types/main.ts
  main/store/state/types/shortcuts.ts
  resources/app/index.ts
Due: prettier --check, eslint --quiet --fix

stronger typing
  main/store/state/types/shortcuts.ts
  resources/app/index.ts
Due: prettier --check, eslint --quiet --fix

typing for modifier keys
  main/store/state/types/shortcuts.ts
  resources/app/index.ts
Due: prettier --check, eslint --quiet --fix

clean up duplicated logic
  resources/app/index.ts
Due: prettier --check, eslint --quiet --fix

capitalize letters only
  resources/app/index.ts
Due: prettier --check, eslint --quiet --fix

create canary branch
  .github/workflows/canary.yml
  electron-builder.json
  main/windows/window.ts
  package.json
  test/main/updater/manualCheck.test.js
Due: prettier --check, eslint --quiet --fix

update package lock, app id
  .github/workflows/compile-and-test.yml
  build/notarize.js
  package-lock.json
Due: prettier --check, eslint --quiet --fix

update workflow
  .github/workflows/sync-upstream.yml
Due: prettier --check

Revert "update icons for 0.6 (#1447)"
  build/background.png
  build/background@2x.png
  build/icons/512x512.png
  build/icons/icon.png
  main/windows/AppIcon.png
Due: none

remove version from intro slide copy
  app/onboard/App/Slides/Intro/index.jsx
  app/onboard/App/Slides/index.jsx
  package-lock.json
Due: prettier --check, eslint --quiet --fix

update workflow to allow for rebases
  .github/workflows/sync-upstream.yml
Due: prettier --check

change version to 0.6.2-canary.1
  package-lock.json
Due: prettier --check

bump version
  package-lock.json
Due: prettier --check

Pylon option (#1483)
  @types/frame/state.d.ts
  app/tray/Notify/index.js
  app/tray/index.js
  main/store/actions/index.js
  main/store/migrate/migrations/35.ts
  main/store/state/index.js
  test/main/store/migrate/migrations/35.test.js
  test/main/store/migrate/setup.js
Due: prettier --check, eslint --quiet --fix

Integrate pylon evm (#1478)
  main/chains/index.js
  main/store/migrations/index.js
  main/store/state/index.js
  package-lock.json
  test/main/store/migrations/index.test.js
Due: prettier --check, eslint --quiet --fix

move migrations to separate files, use TS (#1482)
  @types/frame/state.d.ts
  main/store/migrate/index.ts
  main/store/migrate/migrations/35.ts
  main/store/migrate/migrations/36.ts
  main/store/migrate/migrations/legacy.js
  main/store/migrate/types.ts
  main/store/persist/index.js
  main/store/state/index.js
  test/main/store/migrate/index.test.js
  test/main/store/migrate/migrations/35.test.js
  test/main/store/migrate/migrations/36.test.js
  test/main/store/migrate/setup.js
  test/main/store/state/index.test.js
Due: prettier --check, eslint --quiet --fix

allow non-main properties of state to pass through when parsing (#1495)
  main/store/migrate/migrations/35/index.ts
Due: prettier --check, eslint --quiet --fix

Notify window (#1490)
  app/notify/App/Notification/MoveToPylon/index.jsx
  app/notify/App/Notification/index.jsx
  app/notify/App/index.jsx
  app/notify/App/index.styl
  app/notify/App/styled/index.jsx
  app/notify/index.dev.html
  app/notify/index.html
  app/notify/index.js
  app/tray/Notify/index.js
  main/store/actions/index.js
  main/windows/index.ts
  package-lock.json
  package.json
  scripts/bundler.mjs
Due: prettier --check, eslint --quiet --fix

Choose summon keybinding (#1494)
  app/dash/Main/style/index.styl
  app/dash/Settings/index.js
  app/onboard/App/Slides/Access/index.jsx
  main/store/actions/index.js
  main/store/migrate/index.ts
  main/store/migrate/migrations/35/schema.ts
  main/store/migrate/migrations/37/index.ts
  main/store/migrate/migrations/37/schema.ts
  main/store/state/index.ts
  main/store/state/types/main.ts
  main/store/state/types/shortcuts.ts
  main/windows/index.ts
  main/windows/systemTray.ts
  package-lock.json
  package.json
  resources/Components/KeyboardShortcutConfigurator/index.js
  resources/app/index.js
  resources/app/index.ts
  test/main/store/migrate/migrations/37.test.js
  test/main/store/migrate/setup.js
  test/resources/Components/KeyboardShortcutConfigurator/index.test.js
Due: prettier --check, eslint --quiet --fix

update package lock
  package-lock.json
Due: prettier --check

remove unused type
  @types/frame/state.d.ts
Due: prettier --check, eslint --quiet --fix

mute pylon migration after closing
  main/store/state/index.ts
Due: prettier --check, eslint --quiet --fix

mute pylon migration after closing (#1497)
  main/store/state/index.ts
Due: prettier --check, eslint --quiet --fix

if rawMessage cannot be decoded to valid utf-8, show the raw hex
  app/tray/Account/Requests/SignatureRequest/index.js
  package-lock.json
  package.json
Due: prettier --check, eslint --quiet --fix

Path conditions:
  prettier --check: any of: **/*.{yml,json,md,html,ts,js}
  eslint --quiet --fix: any of: **/*.{ts,tsx,js,jsx}
