Repository floating/frame: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint --quiet --fix

use version 4.0.0 of isUtf8
  package.json
Due: prettier --check

run install again to update package-lock
  package-lock.json
Due: prettier --check

change component to functional, add test
  app/tray/Account/Requests/SignatureRequest/index.js
  test/app/tray/Account/Requests/SignatureRequest/index.test.js
Due: prettier --check, eslint --quiet --fix

use textdecoder
  app/tray/Account/Requests/SignatureRequest/index.js
Due: prettier --check, eslint --quiet --fix

decode message in main process
  app/tray/Account/Requests/SignatureRequest/index.js
  main/accounts/types.ts
  main/provider/helpers.ts
  main/provider/index.ts
  resources/domain/request/index.ts
  test/app/tray/Account/Requests/SignatureRequest/index.test.js
Due: prettier --check, eslint --quiet --fix

if rawMessage cannot be decoded to valid utf-8, show the raw hex (#1486)
  app/tray/Account/Requests/SignatureRequest/index.js
  main/accounts/types.ts
  main/provider/helpers.ts
  main/provider/index.ts
  package-lock.json
  package.json
  resources/domain/request/index.ts
  test/app/tray/Account/Requests/SignatureRequest/index.test.js
Due: prettier --check, eslint --quiet --fix

add processing step
  app/dash/Accounts/Add/Components/index.js
  app/dash/Accounts/Add/style/index.styl
  resources/Components/Password/index.js
Due: prettier --check, eslint --quiet --fix

add comment
  app/dash/Chains/Chain/ChainNew/index.js
Due: prettier --check, eslint --quiet --fix

remove unused
  app/tray/Account/Requests/SignatureRequest/index.js
Due: prettier --check, eslint --quiet --fix

use mutable
  main/nebula/index.ts
Due: prettier --check, eslint --quiet --fix

add comment
  main/dapps/index.ts
Due: prettier --check, eslint --quiet --fix

add comment
  app/dash/Main/index.js
Due: prettier --check, eslint --quiet --fix

switch to @eslint/js
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier --check

add task global
  hardhat.config.js
Due: prettier --check, eslint --quiet --fix

fix undef
  app/tray/Footer/index.js
Due: prettier --check, eslint --quiet --fix

ignore findDOMNode
  app/tray/Account/index.js
  app/tray/AccountSelector/index.js
Due: prettier --check, eslint --quiet --fix

remove findDOMNode
  app/tray/Account/index.js
  app/tray/AccountSelector/index.js
Due: prettier --check, eslint --quiet --fix

remove prop spreading
  app/tray/Account/Account.js
Due: prettier --check, eslint --quiet --fix

move conditional into hook
  resources/Components/Countdown/index.js
  resources/Hooks/useCountdown.js
Due: prettier --check, eslint --quiet --fix

remove comments, update checkout version
  .github/workflows/post-publish-update-version.yml
Due: prettier --check

remove beta.*
  .github/workflows/compile-and-test.yml
Due: prettier --check

pull out to scripts
  .github/workflows/post-publish-update-version.yml
  scripts/update-canary-version.sh
  scripts/update-version.sh
Due: prettier --check

+x
  scripts/update-canary-version.sh
  scripts/update-version.sh
Due: none

fix substitution
  scripts/update-canary-version.sh
  scripts/update-version.sh
Due: none

fix commands
  scripts/update-canary-version.sh
  scripts/update-version.sh
Due: none

Update update-version.sh
  scripts/update-version.sh
Due: none

single script
  scripts/update-canary-version.sh
  scripts/update-version.sh
Due: none

else not elif
  scripts/update-version.sh
Due: none

use setState
  app/tray/Account/Requests/TransactionRequest/AdjustFee/index.js
Due: prettier --check, eslint --quiet --fix

don't modify state
  app/dash/Accounts/Add/AddHardwareLattice/index.js
Due: prettier --check, eslint --quiet --fix

use correct function type
  main/externalData/balances/index.ts
Due: prettier --check, eslint --quiet --fix

add correct type
  main/externalData/coingecko/index.ts
Due: prettier --check, eslint --quiet --fix

use correct type
  main/transaction/actions/index.ts
Due: prettier --check, eslint --quiet --fix

use async IIFE
  main/externalData/inventory/tokens.ts
Due: prettier --check, eslint --quiet --fix

return chainId when enabled regardless of connection status
  main/provider/index.ts
Due: prettier --check, eslint --quiet --fix

fixy
  main/provider/index.ts
Due: prettier --check, eslint --quiet --fix

return all enabled chains to extension, add connection status
  main/provider/chains/index.ts
Due: prettier --check, eslint --quiet --fix

remove env
  .github/workflows/post-publish-update-version.yml
Due: prettier --check

Update README for 0.6.x (#1487)
  README.md
  asset/png/FrameExample0-6-3.png
Due: prettier --check

delete coingecko externalData module
  main/externalData/coingecko/__mocks__/index.ts
  main/externalData/coingecko/index.ts
Due: prettier --check, eslint --quiet --fix

Path conditions:
  prettier --check: any of: **/*.{yml,json,md,html,ts,js}
  eslint --quiet --fix: any of: **/*.{ts,tsx,js,jsx}
