Repository floating/frame: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint --quiet --fix

.lintstagedrc.json:

{
  "**/*.{yml,json,md,html,ts,js}": "prettier --check",
  "**/*.{ts,tsx,js,jsx}": "eslint --quiet --fix"
}

add comments to clarify
  main/nebula/index.ts
Due: prettier --check, eslint --quiet --fix

test canary output
  package.json
Due: prettier --check

add race to timeout
  main/externalData/inventory/tokens.ts
Due: prettier --check, eslint --quiet --fix

update
  scripts/update-version.sh
Due: none

revert
  package.json
Due: prettier --check

add debug
  scripts/update-version.sh
Due: none

fix
  scripts/update-version.sh
Due: none

test canary
  package.json
Due: prettier --check

update for workflow_run
  .github/workflows/post-publish-update-version.yml
Due: prettier --check

remove branches
  .github/workflows/post-publish-update-version.yml
Due: prettier --check

Linting Fixes pt.2 (#1500)
  app/dash/Accounts/Add/AddHardwareLattice/index.js
  app/dash/Chains/Chain/ChainNew/index.js
  app/dash/Main/index.js
  app/tray/Account/Account.js
  app/tray/Account/Requests/SignatureRequest/index.js
  app/tray/Account/Requests/TransactionRequest/AdjustFee/index.js
  app/tray/Account/index.js
  app/tray/AccountSelector/index.js
  app/tray/Footer/index.js
  eslint.config.mjs
  hardhat.config.js
  main/dapps/index.ts
  main/externalData/balances/index.ts
  main/externalData/coingecko/__mocks__/index.ts
  main/externalData/coingecko/index.ts
  main/externalData/inventory/tokens.ts
  main/nebula/index.ts
  main/transaction/actions/index.ts
  package-lock.json
  package.json
  resources/Components/Countdown/index.js
  resources/Hooks/useCountdown.js
Due: prettier --check, eslint --quiet --fix

Add "processing" to add hot signer flow (#1499)
  app/dash/Accounts/Add/Components/index.js
  app/dash/Accounts/Add/style/index.styl
  resources/Components/Password/index.js
Due: prettier --check, eslint --quiet --fix

update provider & tests
  main/provider/index.ts
  test/main/provider/chains/index.test.js
  test/main/provider/index.test.js
Due: prettier --check, eslint --quiet --fix

on published release
  .github/workflows/post-publish-update-version.yml
Due: prettier --check

add gh release view
  .github/workflows/post-publish-update-version.yml
Due: prettier --check

update names
  .github/workflows/canary-prebuild.yml
  .github/workflows/post-publish-update-version.yml
Due: prettier --check

get release tag, put into env
  .github/workflows/post-publish-update-version.yml
Due: prettier --check

update for passing ref in
  scripts/update-version.sh
Due: none

pass ref to script
  .github/workflows/post-publish-update-version.yml
Due: prettier --check

remove pass through
  .github/workflows/post-publish-update-version.yml
Due: prettier --check

improve script resiliency
  scripts/update-version.sh
Due: none

better words
  scripts/update-version.sh
Due: none

add quote
  scripts/update-version.sh
Due: none

add commit & push
  .github/workflows/post-publish-update-version.yml
Due: prettier --check

update for testing
  .github/workflows/post-publish-update-version.yml
Due: prettier --check

first pass
  app/tray/Account/index.js
  app/tray/AccountSelector/AccountController/index.js
  app/tray/AccountSelector/AccountController/style/index.styl
  app/tray/AccountSelector/index.js
  app/tray/AccountSelector/style/index.styl
  app/tray/index.dev.html
  main/store/actions/index.js
  main/store/state/index.js
  package-lock.json
  package.json
Due: prettier --check, eslint --quiet --fix

fix deps
  package-lock.json
  package.json
Due: prettier --check

fix ordering bug
  app/tray/AccountSelector/index.js
Due: prettier --check, eslint --quiet --fix

Update package.json
  package.json
Due: prettier --check

update ur lock
  package-lock.json
Due: prettier --check

add accountsgrid back
  app/tray/AccountSelector/index.js
Due: prettier --check, eslint --quiet --fix

ensure that the chainId is a number in permit domain
  app/tray/Account/Account.js
Due: prettier --check, eslint --quiet --fix

update for comments
  main/provider/index.ts
  test/main/provider/index.test.js
Due: prettier --check, eslint --quiet --fix

update net_version error
  main/provider/index.ts
Due: prettier --check, eslint --quiet --fix

Choose summon keybinding (#1494)
  app/dash/Main/style/index.styl
  app/dash/Settings/index.js
  app/onboard/App/Slides/Access/index.jsx
  main/store/actions/index.js
  main/store/migrate/migrations/37/index.ts
  main/store/migrate/migrations/37/schema.ts
  main/store/state/types/shortcuts.ts
  main/windows/index.ts
  main/windows/systemTray.ts
  package-lock.json
  package.json
  resources/Components/KeyboardShortcutConfigurator/index.js
  resources/app/index.js
  resources/app/index.ts
  test/resources/Components/KeyboardShortcutConfigurator/index.test.js
Due: prettier --check, eslint --quiet --fix

remove schema files, update test
  main/store/migrate/migrations/37/index.ts
  main/store/migrate/migrations/37/schema.ts
  main/store/migrations/index.js
  package-lock.json
  test/main/store/migrations/index.test.js
Due: prettier --check, eslint --quiet --fix

Provider updates for better chain handling (#1502)
  main/provider/chains/index.ts
  main/provider/index.ts
  test/main/provider/chains/index.test.js
  test/main/provider/index.test.js
Due: prettier --check, eslint --quiet --fix
