Repository floating/frame: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint --quiet --fix

.lintstagedrc.json:

{
  "**/*.{yml,json,md,html,ts,js}": "prettier --check",
  "**/*.{ts,tsx,js,jsx}": "eslint --quiet --fix"
}

display different error when mainnet is down
  app/dapp/App.js
Due: prettier --check, eslint --quiet --fix

add view chains button
  app/dapp/App.js
  app/dapp/index.styl
Due: prettier --check, eslint --quiet --fix

update message
  app/dapp/App.js
Due: prettier --check, eslint --quiet --fix

use lowercase dapp
  main/windows/frames/frameInstances.ts
Due: prettier --check, eslint --quiet --fix

update error message
  app/dapp/App.js
Due: prettier --check, eslint --quiet --fix

return different send dapp error when mainnet is down (#1503)
  app/dapp/App.js
  app/dapp/index.styl
  main/windows/frames/frameInstances.ts
Due: prettier --check, eslint --quiet --fix

use lattice errorMessage prop from LatticeResponseError
  main/signers/lattice/Lattice/index.ts
Due: prettier --check, eslint --quiet --fix

lattice suports v3 typeddata
  main/provider/index.ts
Due: prettier --check, eslint --quiet --fix

forcing node version via .npmrc, ignoring intellij .idea folder
  .gitignore
  .npmrc
Due: none

update dialog, add new openFileDialog
  main/windows/dialog/index.ts
  test/main/windows/dialog/index.test.js
  test/main/windows/dialog/unhandledException.test.js
Due: prettier --check, eslint --quiet --fix

update usage
  main/index.ts
  main/rpc/index.js
Due: prettier --check, eslint --quiet --fix

return browserwindows
  main/windows/index.ts
Due: prettier --check, eslint --quiet --fix

add mock
  test/main/windows/dialog/index.test.js
Due: prettier --check, eslint --quiet --fix

remove any
  main/windows/dialog/index.ts
Due: prettier --check, eslint --quiet --fix

add ellipses
  app/dash/Accounts/Add/AddKeystore/index.js
Due: prettier --check, eslint --quiet --fix

move to resources
  app/dash/Notify/AddToken/index.js
  app/tray/Notify/index.js
  app/tray/Notify/style/index.styl
  resources/Components/Notify/ExtensionConnect/index.jsx
  resources/Components/Notify/index.js
  resources/Components/Notify/style/index.styl
Due: prettier --check, eslint --quiet --fix

split out Notification
  resources/Components/Notify/index.js
Due: prettier --check, eslint --quiet --fix

add default shortcuts state
  main/store/state/index.js
Due: prettier --check, eslint --quiet --fix

pass target files into command
  .lintstagedrc.json
Due: prettier --check

use --quiet
  .husky/pre-commit
Due: none

remove profiler
  package-lock.json
  package.json
Due: prettier --check

add to pre-push
  .husky/pre-push
Due: none

move Native to components
  app/dapp/App.jsx
  app/onboard/App/index.jsx
  eslint.config.mjs
  resources/Components/Native/index.jsx
  resources/Components/Native/style/index.styl
  resources/base.styl
Due: eslint --quiet --fix

fix eslint, add mjs
  .husky/pre-commit
  .lintstagedrc.json
Due: prettier --check

edit shortcut clarity
  app/dash/Main/style/index.styl
  app/dash/Settings/index.js
  resources/Components/KeyboardShortcutConfigurator/index.js
  test/resources/Components/KeyboardShortcutConfigurator/index.test.js
Due: prettier --check, eslint --quiet --fix

missed one
  test/resources/Components/KeyboardShortcutConfigurator/index.test.js
Due: prettier --check, eslint --quiet --fix

cancel moved out of component
  test/resources/Components/KeyboardShortcutConfigurator/index.test.js
Due: prettier --check, eslint --quiet --fix

polish dapp loading text
  app/dapp/App.js
  app/dapp/index.styl
Due: prettier --check, eslint --quiet --fix

edit shortcut clarity (#1514)
  app/dash/Main/style/index.styl
  app/dash/Settings/index.js
  resources/Components/KeyboardShortcutConfigurator/index.js
  test/resources/Components/KeyboardShortcutConfigurator/index.test.js
Due: prettier --check, eslint --quiet --fix

polish dapp loading text (#1515)
  app/dapp/App.js
  app/dapp/index.styl
Due: prettier --check, eslint --quiet --fix

Allow v3 typedData through to Lattice (#1507)
  main/provider/index.ts
Due: prettier --check, eslint --quiet --fix

0.6.3 (#1505)
  app/dash/Main/style/index.styl
  app/dash/Settings/index.js
  app/onboard/App/Slides/Access/index.jsx
  main/store/actions/index.js
  main/store/migrations/index.js
  main/store/state/index.js
  main/store/state/types/shortcuts.ts
  main/windows/index.ts
  main/windows/systemTray.ts
  package-lock.json
  package.json
  resources/Components/KeyboardShortcutConfigurator/index.js
  resources/app/index.js
  resources/app/index.ts
  test/main/store/migrations/index.test.js
  test/resources/Components/KeyboardShortcutConfigurator/index.test.js
Due: prettier --check, eslint --quiet --fix

add LatticeResponseError type
  main/signers/lattice/Lattice/index.ts
Due: prettier --check, eslint --quiet --fix

update other uses of LatticeResponseError
  main/signers/lattice/Lattice/index.ts
Due: prettier --check, eslint --quiet --fix

Lattice signing: use errorMessage prop from LatticeResponseError (#1506)
  main/signers/lattice/Lattice/index.ts
Due: prettier --check, eslint --quiet --fix

use getFocusedWindow
  main/windows/dialog/index.ts
  main/windows/index.ts
Due: prettier --check, eslint --quiet --fix

Attach keystore open file dialog to Dash (#1511)
  app/dash/Accounts/Add/AddKeystore/index.js
  main/index.ts
  main/rpc/index.js
  main/windows/dialog/index.ts
  test/main/windows/dialog/index.test.js
  test/main/windows/dialog/unhandledException.test.js
Due: prettier --check, eslint --quiet --fix

remove script, try new conf
  build/notarize.js
  electron-builder.json
Due: prettier --check, eslint --quiet --fix

remove tool
  electron-builder.json
Due: prettier --check
