Repository floating/frame: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint --quiet --fix

.lintstagedrc.json:

{
  "**/*.{yml,json,md,html,ts,js}": "prettier --check",
  "**/*.{ts,tsx,js,jsx}": "eslint --quiet --fix"
}

address PR comments
  eslint.config.mjs
Due: none

disable explorer btn when no explorer
  app/tray/Account/Requests/style/index.styl
  app/tray/Footer/RequestCommand/index.js
Due: prettier --check, eslint --quiet --fix

ensure chain exists in networksMeta
  main/store/migrations/index.js
Due: prettier --check, eslint --quiet --fix

destructure
  main/store/migrations/index.js
Due: prettier --check, eslint --quiet --fix

add additional test cases
  main/store/migrations/index.js
  test/main/store/migrations/index.test.js
Due: prettier --check, eslint --quiet --fix

add more files, exempt e2es
  eslint.config.mjs
Due: none

dont overwrite existing metadata
  main/store/migrations/index.js
Due: prettier --check, eslint --quiet --fix

ensure chain exists in networksMeta (#1476)
  main/store/migrations/index.js
  test/main/store/migrations/index.test.js
Due: prettier --check, eslint --quiet --fix

create canary branch
  .github/workflows/canary.yml
  electron-builder.json
  main/windows/window.ts
  package.json
  test/main/updater/manualCheck.test.js
Due: prettier --check, eslint --quiet --fix

update package lock, app id
  .github/workflows/compile-and-test.yml
  build/notarize.js
  package-lock.json
Due: prettier --check, eslint --quiet --fix

update workflow
  .github/workflows/sync-upstream.yml
Due: prettier --check

Revert "update icons for 0.6 (#1447)"
  build/background.png
  build/background@2x.png
  build/icons/512x512.png
  build/icons/icon.png
  main/windows/AppIcon.png
Due: none

remove version from intro slide copy
  app/onboard/App/Slides/Intro/index.jsx
  app/onboard/App/Slides/index.jsx
  package-lock.json
  package.json
Due: prettier --check, eslint --quiet --fix

change version to 0.6.2-canary.1
  package-lock.json
  package.json
Due: prettier --check

update workflow to allow for rebases
  .github/workflows/sync-upstream.yml
Due: prettier --check

bump version
  package-lock.json
  package.json
Due: prettier --check

bump version to 0.6.3
  package-lock.json
  package.json
Due: prettier --check

bump version to 0.6.3 (#1477)
  package-lock.json
  package.json
Due: prettier --check

rework
  app/dash/Accounts/Add/AddKeystore/index.js
  app/dash/Accounts/Add/Components/index.js
  app/dash/Accounts/Add/style/index.styl
  resources/Components/Password/index.js
  resources/Components/SimpleFlowScreen/index.js
Due: prettier --check, eslint --quiet --fix

remove infura and alchemy presets, use pylon
  main/chains/index.js
  main/store/migrations/index.js
  main/store/state/index.js
  test/main/store/migrations/index.test.js
Due: prettier --check, eslint --quiet --fix

bump version
  package-lock.json
Due: prettier --check

update package lock
  package-lock.json
Due: prettier --check

remove gnosis chain preset
  main/store/migrations/index.js
  main/store/state/index.js
  test/main/store/migrations/index.test.js
Due: prettier --check, eslint --quiet --fix

fix chain name
  test/main/store/migrations/index.test.js
Due: prettier --check, eslint --quiet --fix

remove process global for renderer
  eslint.config.mjs
Due: none

fix main low-hanging fruit
  main/accounts/index.ts
  main/api/http.ts
  main/api/ws.ts
  main/chains/blocks/index.ts
  main/chains/index.d.ts
  main/contracts/deployments/ens/index.ts
  main/contracts/sources/etherscan.ts
  main/dapps/index.ts
  main/ens/index.js
  main/errors/index.ts
  main/externalData/balances/worker.ts
  main/index.ts
  main/ipfsRun/index.js
  main/multicall/index.ts
  main/rpc/index.js
  main/store/actions/index.js
  main/store/state/index.js
  main/time/index.js
  main/windows/dialog/unhandledException.ts
  main/windows/frames/index.ts
  main/windows/frames/viewInstances.ts
Due: prettier --check, eslint --quiet --fix

scripts fixes
  scripts/run-dev.mjs
Due: none

test fixes
  test/app/dash/Accounts/Add/AddAddress/index.test.js
  test/app/dash/Accounts/Add/AddPhrase/index.test.js
  test/app/dash/Accounts/Add/AddRing/index.test.js
  test/app/dash/Chains/Chain/add.test.js
  test/app/dash/Chains/Chain/expand.test.js
  test/app/dash/Tokens/AddToken/index.test.js
  test/app/onboard/App/Slides/Proceed/index.test.js
  test/app/tray/Account/Requests/TransactionRequest/AdjustFee/index.test.js
  test/app/tray/Account/Requests/TransactionRequest/TxFee/index.test.js
  test/app/tray/Account/Requests/TransactionRequest/index.test.js
  test/e2e/index.test.js
  test/e2e/txWarnings.test.js
  test/main/externalData/balances/reducers.test.js
  test/main/signers/hot/RingSigner/index.test.js
  test/main/signers/hot/SeedSigner/index.test.js
  test/main/signers/lattice/Lattice/index.test.js
  test/main/store/actions/index.test.js
  test/main/transaction/gasMonitor.test.js
  test/resources/Components/Confirm/index.test.js
  test/resources/Components/DisplayValue/index.test.js
  test/resources/Components/Password/index.test.js
Due: prettier --check, eslint --quiet --fix

fix resources
  resources/Components/Cluster/index.js
  resources/Components/Confirm/index.js
  resources/Components/DisplayValue/index.js
  resources/Components/Dropdown/index.js
  resources/Components/Monitor/index.js
  resources/Components/Password/index.js
  resources/link/index.js
  resources/store/actions.panel.js
  resources/svg/index.js
Due: prettier --check, eslint --quiet --fix

fix entry points
  app/dapp/index.js
  app/dash/index.js
  app/onboard/index.js
  app/tray/index.js
Due: prettier --check, eslint --quiet --fix

autofixes
  app/dash/Signer/index.js
  app/tray/Account/Signer/SignerPreview/index.js
  app/tray/Footer/RequestCommand/index.js
  main/provider/helpers.ts
  main/reveal/index.ts
  main/windows/nav/index.ts
  resources/domain/request/index.ts
  resources/svg/index.js
  resources/utils/index.ts
Due: prettier --check, eslint --quiet --fix

more fixes
  app/dash/Accounts/Add/AddPhrase/index.js
  main/provider/chains/index.ts
  package-lock.json
  package.json
  resources/colors/index.ts
Due: prettier --check, eslint --quiet --fix

add renderer entry points
  eslint.config.mjs
Due: none

remove logs
  main/accounts/Account/index.ts
  main/api/origins.ts
  main/provider/index.ts
Due: prettier --check, eslint --quiet --fix

disable explorer btn on tx when no explorer (#1475)
  app/tray/Account/Requests/style/index.styl
  app/tray/Footer/RequestCommand/index.js
Due: prettier --check, eslint --quiet --fix

Linting (#1337)
  .babelrc.json
  .eslintrc.json
  eslint.config.mjs
  package-lock.json
  package.json
  tsconfig.build.json
  tsconfig.json
Due: prettier --check

update deps
  package-lock.json
  package.json
Due: prettier --check

update node
  .github/workflows/build.yml
  .github/workflows/canary.yml
  .github/workflows/compile-and-test.yml
  README.md
  package.json
Due: prettier --check

update
  README.md
Due: prettier --check
