Repository floating/frame: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint --quiet --fix

update
  package-lock.json
  package.json
Due: prettier --check

Update .lintstagedrc.json
  .lintstagedrc.json
Due: prettier --check

update ur lock
  package-lock.json
Due: prettier --check

update config
  eslint.config.mjs
Due: none

Update eslint.config.mjs
  eslint.config.mjs
Due: none

Update package.json
  package.json
Due: prettier --check

Update tsconfig.json
  tsconfig.json
Due: prettier --check

Update tsconfig.build.json
  tsconfig.build.json
Due: prettier --check

fix entry points
  app/dapp/index.js
  app/dash/index.js
  app/onboard/index.js
  app/tray/index.js
Due: prettier --check, eslint --quiet --fix

test fixes
  test/app/dash/Accounts/Add/AddAddress/index.test.js
  test/app/dash/Accounts/Add/AddPhrase/index.test.js
  test/app/dash/Accounts/Add/AddRing/index.test.js
  test/app/dash/Chains/Chain/add.test.js
  test/app/dash/Chains/Chain/expand.test.js
  test/app/dash/Tokens/AddToken/index.test.js
  test/app/onboard/App/Slides/Proceed/index.test.js
  test/app/tray/Account/Requests/TransactionRequest/AdjustFee/index.test.js
  test/app/tray/Account/Requests/TransactionRequest/TxFee/index.test.js
  test/app/tray/Account/Requests/TransactionRequest/index.test.js
  test/e2e/index.test.js
  test/e2e/txWarnings.test.js
  test/main/externalData/balances/reducers.test.js
  test/main/signers/hot/RingSigner/index.test.js
  test/main/signers/hot/SeedSigner/index.test.js
  test/main/signers/lattice/Lattice/index.test.js
  test/main/store/actions/index.test.js
  test/main/transaction/gasMonitor.test.js
  test/resources/Components/Confirm/index.test.js
  test/resources/Components/DisplayValue/index.test.js
  test/resources/Components/Password/index.test.js
Due: prettier --check, eslint --quiet --fix

fix resources
  resources/Components/Cluster/index.js
  resources/Components/Confirm/index.js
  resources/Components/DisplayValue/index.js
  resources/Components/Dropdown/index.js
  resources/Components/Monitor/index.js
  resources/Components/Password/index.js
  resources/link/index.js
  resources/store/actions.panel.js
  resources/svg/index.js
Due: prettier --check, eslint --quiet --fix

more fixes
  app/dash/Accounts/Add/AddPhrase/index.js
  main/provider/chains/index.ts
  package-lock.json
  package.json
  resources/colors/index.ts
Due: prettier --check, eslint --quiet --fix

scripts fixes
  scripts/run-dev.mjs
Due: none

fix main low-hanging fruit
  main/accounts/index.ts
  main/api/http.ts
  main/api/ws.ts
  main/chains/blocks/index.ts
  main/chains/index.d.ts
  main/contracts/deployments/ens/index.ts
  main/contracts/sources/etherscan.ts
  main/dapps/index.ts
  main/ens/index.js
  main/errors/index.ts
  main/externalData/balances/worker.ts
  main/index.ts
  main/ipfsRun/index.js
  main/multicall/index.ts
  main/rpc/index.js
  main/store/actions/index.js
  main/store/state/index.js
  main/time/index.js
  main/windows/dialog/unhandledException.ts
  main/windows/frames/index.ts
  main/windows/frames/viewInstances.ts
Due: prettier --check, eslint --quiet --fix

autofixes
  app/dash/Signer/index.js
  app/tray/Account/Signer/SignerPreview/index.js
  app/tray/Footer/RequestCommand/index.js
  main/provider/helpers.ts
  main/reveal/index.ts
  main/windows/nav/index.ts
  resources/domain/request/index.ts
  resources/svg/index.js
  resources/utils/index.ts
Due: prettier --check, eslint --quiet --fix

no logging of migrations in tests
  main/store/migrations/index.js
Due: prettier --check, eslint --quiet --fix

update dialog handling
  main/index.ts
  main/rpc/index.js
  main/windows/dialog/index.ts
  main/windows/index.ts
  test/main/windows/dialog/index.test.js
  test/main/windows/dialog/unhandledException.test.js
Due: prettier --check, eslint --quiet --fix

linting & formatting fixes
  app/dash/Accounts/Add/AddKeystore/index.js
  app/dash/Accounts/Add/AddPhrase/index.js
  app/dash/Accounts/Add/Components/index.js
  resources/Components/Password/index.js
  test/app/dash/Accounts/Add/AddKeystore/index.test.js
Due: prettier --check, eslint --quiet --fix

fix windows glide
  main/windows/index.ts
Due: prettier --check, eslint --quiet --fix

mac only
  main/windows/index.ts
Due: prettier --check, eslint --quiet --fix

force chain id to be caip-2
  main/requests/matchers.ts
  main/requests/methods/caipRequest.ts
  test/main/requests/index.test.js
Due: prettier --check, eslint --quiet --fix

add support for default symbols, DRY up tests
  main/store/migrations/index.js
  test/main/store/migrations/index.test.js
Due: prettier --check, eslint --quiet --fix

bump version to 0.6.2
  package-lock.json
  package.json
Due: prettier --check

bump version to 0.6.2 (#1473)
  package-lock.json
  package.json
Due: prettier --check

add guard for undefined error
  main/requests/matchers.ts
Due: prettier --check, eslint --quiet --fix

clean up old patterns, add additional starting state
  test/main/store/migrations/index.test.js
Due: prettier --check, eslint --quiet --fix

Migrations: ensure native currency names & symbols (#1468)
  main/store/migrations/index.js
  test/main/store/migrations/index.test.js
Due: prettier --check, eslint --quiet --fix

Wallet request optional fields (#1467)
  hardhat.config.js
  main/provider/index.ts
  main/requests/index.ts
  main/requests/matchers.ts
  main/requests/methods/caipRequest.ts
  main/requests/methods/walletRequest.ts
  test/main/requests/index.test.js
Due: prettier --check, eslint --quiet --fix

ensure request mapper propagates errors correctly
  main/requests/matchers.ts
  test/main/requests/index.test.js
Due: prettier --check, eslint --quiet --fix

prototype
  main/accounts/Account/index.ts
  main/api/origins.ts
  main/provider/index.ts
  main/store/actions/index.js
Due: prettier --check, eslint --quiet --fix

ensure request mapper propagates errors correctly (#1474)
  main/requests/matchers.ts
  test/main/requests/index.test.js
Due: prettier --check, eslint --quiet --fix

Fix windows glide (#1472)
  main/windows/index.ts
Due: prettier --check, eslint --quiet --fix

add config
  .gitignore
  e2e/config-fixtures/config.json
Due: prettier --check

prototype
  .gitignore
  app/dash/Accounts/Add/Components/index.js
  app/dash/Accounts/index.js
  app/dash/App.js
  app/tray/AccountSelector/AccountController/index.js
  app/tray/AccountSelector/index.js
  e2e/config-fixtures/signers/6638323566323538333030336161333734396161356565626664626434666230.json
  e2e/test/index.test.ts
  e2e/tsconfig.json
  jest.e2e.config.json
  main/store/persist/index.js
  main/windows/index.ts
  package-lock.json
  package.json
  resources/Components/Cluster/index.js
  resources/Components/Password/index.js
  test/e2e/deploy.test.js
  test/e2e/index.test.js
  test/e2e/origins.test.js
  test/e2e/signTypedData.js
  test/e2e/txWarnings.test.js
  test/e2e/unknown.js
  wdio.conf.mjs
Due: prettier --check, eslint --quiet --fix

update package lock
  package-lock.json
Due: prettier --check

downgrade electron-log
  package-lock.json
  package.json
Due: prettier --check

revert script change
  package.json
Due: prettier --check

Path conditions:
  prettier --check: any of: **/*.{yml,json,md,html,ts,js}
  eslint --quiet --fix: any of: **/*.{ts,tsx,js,jsx}
